<<<<<<< HEAD
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
    background-color:black;

=======
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
    background-color:black;

>>>>>>> 6277f65858a0bea47dc94f6f8c6cd1a1b6887910
}